@use "./../../styles/vars.scss" as *;
@use "./../../styles/mixins.scss" as mixins;
@use '/src/styles/themes.scss' as *;

.blog {
  display: flex;
  flex-direction: column;
  padding-block: 80px;
  background-color: var(--header-bgc);
  color: var(--primary-color-section); 

  @include mixins.inline-padding;

  &__title {
    font-family: "Montserrat", sans-serif; /* Шрифт для заголовка */
    font-size: clamp(36px, 5vw, 62px); /* Адаптивный размер заголовка */
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: 6px;
    color: var(--primary-app-color); 
    text-align: center; /* Выравнивание текста по центру */
  }

  &__subtitle {
    font-family: "Open Sans", sans-serif; /* Шрифт для подзаголовка */
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 40px;
    color: var(--primary-subtitle-section); /* Полупрозрачный текст */
    text-align: center; /* Выравнивание текста по центру */
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  &__view-all {
    margin-top: 28px;
    overflow: hidden;
    transition: all 0.3s, box-shadow 0.3s;

    display: flex;
    justify-items: center;
    align-items: center;

    font-family: "Open-Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 5%;

    background: var(--primary-button-bgc);
    color: var(--primary-button-text);
    padding: 15px 30px;
    border-radius: 20px;
    border: 1px solid #2a2735;

    padding: 16px 30px;
    align-self: center;

    transition: all 0.3s ease-in;

    &:hover {
        background: var(--primary-button-hover);
    }
  }
}
