@use './../../styles/mixins.scss' as mixins;

.promo-block {
    margin-inline: 0;
    padding: 0;

    @include mixins.inline-padding;
}

.promo-content {
    padding-inline: 0;
}

.promo-image {
    height: 100%;
    width: 300px;
    background-image: url('./../../assets/images/promo-ppl.png');
    background-repeat: no-repeat;
    background-size: contain;
}

img:first-child {
    margin-right: 0;
}