@use './../../styles/mixins.scss' as mixins;
@use './../../styles/vars.scss' as *;

.promo-block {
    position: relative;
    padding: 45px;
    box-sizing: content-box;

    @include mixins.inline-padding;
}

.promo-content {
    padding-inline: 0;
}

.promo-image {
    position: absolute;
    right: 56px;
    height: 365px;
    width: 303px;
    background-image: url('./../../assets/images/promo-ppl.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

img:first-child {
    margin-right: 0;
}