@use "./../../styles/mixins.scss" as mixins;

.portfolio-grid {
  @include mixins.inline-padding;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

// for prevent random outside click on portfolio card
.active-modal .portfolio-grid {
    pointer-events: none;
}

.portfolio__button {
  display: flex;
  justify-self: center;
  cursor: pointer;

  background: transparent; 
  color: #fff; 
  padding: 15px 30px; 
  border-radius: 20px; 
  border: 1px solid #2a2735; 

  margin-top: 25px;
  margin-bottom: 0;

  overflow: hidden;
  transition: all 0.3s;

  font-family: "Open-Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 5%;

  align-self: center;

  &:hover {
    background: #2a2735;
  }
}

.portfolio__wrapper {
  display: block;
}
