@use "./reset.scss";
@use "./mixins.scss";
@use "./vars.scss";

html {
  overflow-y: scroll;

  p {
    line-height: 150%;
  }

  &::-webkit-scrollbar {
    width: 8px;
    padding-block: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #454545;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #1a1a1a;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
