$header-bgc: rgba(24, 22, 31, 1);
$header-bgc-scrolled: rgba(24, 22, 31, 0.9);
$header-select-bgc: rgba(255, 255, 255, 0.1);
$header-select-bgc-no-opacity: rgba(255, 255, 255, 0);
$header-button-height: 52px;
$header-height: 60px;

$modal-bgc: rgba(28, 26, 35, 1);
$modal-border: rgba(58, 55, 66, 1);
$modal-text-color: rgba(127, 125, 133, 1);

$header-select-padding: 4px;

$hero-bgi: "./assets/img/paralax_img.png";
$header-language-select: "./assets/img/language-select.svg";
