$header-bgc: rgba(24, 22, 31, 1);
$header-bgc-scrolled: rgba(24, 22, 31, 0.9);
$header-select-bgc: rgba(255, 255, 255, 0.1);
$header-button-height: 54px;

$hero-bgi:'./assets/img/paralax_img.png'; 
$header-language-select: './assets/img/language-select.svg';