@use './../../styles/vars.scss' as *;

.footer {
  display: flex;
  min-height: 286px;

  justify-content: center;
  align-items: center;

  //temp styles for mocked text
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  color: white;

  border-top: 1px solid $header-select-bgc;
}
