@use "./../../styles/vars.scss" as *;
@use "./../../styles/mixins.scss" as mixins;
@use '/src/styles/themes.scss' as *;

a {
  text-decoration: none;
  color: inherit;

  display: block;
}

.blog-card {
  background-color: var(--card-background);
  position: relative;
  min-height: 430px;
  cursor: pointer;
  border: 1px solid $primary-bgc-dark;

  display: flex;
  flex-direction: column;
  border-radius: 20px;

  overflow: hidden;

  transition: all 0.3s ease-in;

  &:hover {
    transform: scale(1.03);

    .blog-card__content--footer--link,
    .blog-card__content--title {
        @include mixins.gradient-button-hover;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  }

  &__image {
    height: 210px;
    width: 100%;
  }

  &__content {
    position: relative;
    padding: 28px 20px 20px;
    font-family: "Montserrat", sans-serif;
    color: var(--primary-color-section);

    &--title {
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 0;

      margin-right: 12px;
      margin-bottom: 12px;
      text-align: left;
      word-break: break-word;
    }

    &--text {
      font-size: 14px;
      line-height: 21px;

      color: var(--primary-color-section);
    }

    &--footer {
      margin-top: 30px;
      //   margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &--container {
        display: flex;
        flex-direction: row;
        gap: 2px;
      }

      &--date,
      &--link {
        color: $modal-text-color;
        font-size: 14px;
        line-height: 21px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
      }

      &--link {
        text-decoration: none;
      }
    }
  }
}

.item {
  display: block;
  height: 320px;
  width: 400px;
  border: 1px solid green;
  background-color: red;

  &:hover {
    cursor: pointer;
    transform: translateY(-20px);
  }
}
