@use "./../../styles/vars.scss" as *;
@use "./../../styles/mixins.scss" as mixins;

.contacts {
  padding-block: 60px;
  background-color: $primary-gray;

  @include mixins.inline-padding;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 62px;
    line-height: 1.2;
    letter-spacing: 0;

    margin-bottom: 6px;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0;
    color: $modal-text-color;

    margin-bottom: 40px;
  }

  &__grid {
    display: grid;
    // width: 100%;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
  }
}
