@use "./../../styles/mixins.scss" as mixins;
@use '/src/styles/themes.scss' as *;

.blog-article-page {
  @include mixins.page-padding;
  color: var(--primary-color-section);
  background-color: var(--primary-bgc-section);
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  max-width: 100%;
  

  &__wrapper {
    overflow-x: hidden;
  }

  &__article {
    margin: 42px auto 0;
  }
}
